<div *ngIf="foodPlan">
	<h1>{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy'}}</h1>

	<div *ngIf="foodPlan.dishes.length == 0">
		<h1 style="text-align: center;">This food plan has no dishes yet. 😔</h1>
	</div>

	<mat-card *ngFor="let dish of foodPlan.dishes" class="dish-card">
		<h2>{{dish.food.name}}</h2>
		<div *ngIf="dish.food.allIngredients.length > 0">
			<h3>Ingredients:</h3>
			<!-- Not using ngModel as this was causing flashing when (un)checking boxes -->
			<mat-selection-list [disabled]="!canEdit">
				<mat-list-option (click)="ingredientClicked(dish, ingredient)"
								 *ngFor="let ingredient of dish.food.allIngredients"
								 [value]="ingredient"
								 selected="{{isIngredientChecked(dish,ingredient)}}">
					{{ingredient}}
				</mat-list-option>
			</mat-selection-list>
		</div>

		<div *ngIf="dish.additionalIngredients.length > 0">
			<h3>Additional Ingredients:</h3>
			<mat-list>
				<mat-list-item *ngFor="let ingredient of dish.additionalIngredients">
					{{ingredient}}
				</mat-list-item>
			</mat-list>
		</div>
	</mat-card>
</div>
<div *ngIf="foodPlanLoadError">
	<h1 style="text-align: center;">Food Plan not found</h1>
</div>
