<div>
	<h2>{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy'}}</h2>
	<mat-card-content>
		<div *ngIf="foods$ | async as foodsList">
			<app-food-detail *ngFor="let food of foodsList"
							 [foodPlan]="foodPlan"
							 [food]="food">{{food}}</app-food-detail>
		</div>
		<div *ngIf="showAddFoodsBtn">
			<mat-card (click)="addFood()" class="add-food-card">
				<button mat-button>
					<mat-icon style="color: green">add_circle</mat-icon>
				</button>
			</mat-card>
		</div>
	</mat-card-content>
</div>
