<h2 mat-dialog-title>{{data.title}}</h2>
<form (ngSubmit)="close()">
	<mat-dialog-content class="!flex justify-center items-center">
		<mat-form-field>
			<mat-label>{{data.inputLabel}}</mat-label>
			<input [formControl]="stringInput" autocomplete="off" matInput name="stringInput" required>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions [align]="'end'">
		<button (click)="cancel()" mat-button>{{data.cancelBtnText}}</button>
		<button color="primary"
				mat-button
				mat-raised-button
				type="submit">{{data.confirmBtnText}}</button>
	</mat-dialog-actions>
</form>
