<div class="header-wrapper">
	<h1 style="margin: 0;">Foods</h1>
	<div class="food-search-wrapper">
		<button (click)="showSearchBox()"
				*ngIf="!isSearchBoxVisible"
				@searchButtonAnimation
				class="food-search-button"
				mat-button>
			<mat-icon>search</mat-icon>
		</button>
		<mat-form-field *ngIf="isSearchBoxVisible" @searchBoxAnimation appearance="outline" class="food-search-input">
			<input #searchBox
				   (blur)="unFocusSearchBox($event)"
				   (keyup)="onSearchBoxKeyUp($event)"
				   autoFocus
				   matInput
				   placeholder="Search Foods..."
				   type="text">
			<button (click)="clearSearchBox()" *ngIf="searchBox.value" mat-icon-button matSuffix>
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</div>
</div>
<div fxLayout="row" fxLayoutAlign="flex-start center">
	<mat-form-field class="labels-filter-input" appearance="fill">
		<mat-label>Filter Labels</mat-label>
		<mat-chip-list #chipList aria-label="Label Selection">
			<mat-chip
				*ngFor="let label of selectedLabels$|async"
				(removed)="removeLabel(label)">
				{{label}}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>
			<input
				placeholder="Enter label..."
				#labelInput
				[formControl]="labelCtrl"
				[matAutocomplete]="auto"
				[matChipInputFor]="chipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="addLabel($event)">
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="autocompleteItemSelected($event)">
			<mat-option *ngFor="let label of unusedLabels" [value]="label">
				{{label}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-radio-group fxLayout="column"
					 class="mat-form-field-wrapper"
					 style="margin-left:15px;"
					 [(ngModel)]="lblFilterOp">
		<mat-radio-button style="margin:2px;" [value]="0">OR</mat-radio-button>
		<mat-radio-button style="margin:2px;" [value]="1">AND</mat-radio-button>
	</mat-radio-group>
</div>
<div fxLayout="row wrap" fxLayoutGap="10px grid">
	<div *ngFor="let food of filteredFoods$ | async" fxFlex="25%" fxFlex.sm="33%" fxFlex.xs="50%">
		<div *ngIf="{user: user$ | async} as userWrapper" style="height: 100%;">
			<app-food-card [canEdit]="(userWrapper.user) ? userWrapper.user.canEdit : false"
						   [food]="food"></app-food-card>
		</div>
	</div>
</div>
<div *ngIf="(filteredFoods$ | async)?.length as filteredFoodsLength"
	 class="food-summary">{{filteredFoodsLength}} {{filteredFoodsLength > 1 ? 'Foods' : 'Food'}}</div>
<div *ngIf="{user: user$ | async} as userWrapper">
	<button (click)="openAddFoodDialog()"
			*ngIf="(userWrapper.user) ? userWrapper.user.canEdit : false"
			class="btn-add-foods"
			mat-fab>
		<mat-icon>add</mat-icon>
	</button>
</div>

