<div>
	<div class="day-header">
		<h2 (click)="navigateToDetailsPage()"
			[class.pointer-on-hover]="showPointer">{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy'}}</h2>
		<button (click)="addFood()" *ngIf="showAddFoodsBtn && (canEdit)" mat-icon-button>
			<mat-icon style="color: green">add_circle</mat-icon>
		</button>
	</div>
	<div *ngIf="foodPlan.dishes as dishes">
		<app-food-card *ngFor="let dish of dishes trackBy: trackByIndex"
					   [canEdit]="canEdit"
					   [dish]="dish"
					   [foodPlan]="foodPlan"
					   [food]="dish.food">{{dish.food.name}}</app-food-card>
	</div>
	<div *ngIf="foodPlan.dishes && foodPlan.dishes.length == 0">
		<mat-card>
			<mat-card-content appearance="outlined" class="empty-list-card">
				Nothing here yet 😞
			</mat-card-content>
		</mat-card>
	</div>
</div>
