.day-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h2 {
	margin: 0;
}

.empty-list-card {
	text-align: center;
}

.pointer-on-hover {
	cursor: pointer;
}
