<div>
	<div class="day-header">
		<h2 (click)="navigateToDetailsPage()"
			[class.pointer-on-hover]="showPointer">{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy'}}</h2>
		<button (click)="addFood()" *ngIf="showAddFoodsBtn && (canEdit)" mat-button>
			<mat-icon style="color: green">add_circle</mat-icon>
		</button>
	</div>
	<mat-card-content>
		<div class="dishes-list" *ngIf="foodPlan.dishes as dishes" cdkDropList [cdkDropListData]="foodPlan.dishes" [id]="foodPlan.id" (cdkDropListDropped)="drop($event)">
			<app-food-card *ngFor="let dish of dishes trackBy: trackByIndex"
						   [canEdit]="canEdit"
						   [dish]="dish"
						   [foodPlan]="foodPlan"
						   [food]="dish.food">{{dish.food.name}}</app-food-card>
		</div>
		<div *ngIf="foodPlan.dishes && foodPlan.dishes.length == 0" cdkDropList [id]="foodPlan.date.toString()" (cdkDropListDropped)="drop($event)">
			<mat-card class="empty-list-card">
				Nothing here yet 😞
			</mat-card>
		</div>
	</mat-card-content>
</div>
