<div>
	<div class="day-header">
		<h2 (click)="navigateToDetailsPage()"
			[class.pointer-on-hover]="showPointer">{{foodPlanDoc.date.toMillis() | date: 'EEEE dd/MM/yyyy'}}</h2>
		<button (click)="addFood()" *ngIf="showAddFoodsBtn && (canEdit)" mat-button>
			<mat-icon style="color: green">add_circle</mat-icon>
		</button>
	</div>
	<mat-card-content>
		<div *ngIf="foods$ | async as foodsList">
			<app-food-card *ngFor="let food of foodsList"
						   [foodPlanDoc]="foodPlanDoc"
						   [food]="food"
						   [canEdit]="canEdit">{{food}}</app-food-card>
		</div>
		<div *ngIf="!(foods$ | async)">
			<mat-card class="empty-list-card">
				Nothing here yet 😞
			</mat-card>
		</div>
	</mat-card-content>
</div>
