.dialog-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 10px;
}

.food-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 15px;
	width: 100%;
}

.food-image {
	width: 70px;
	height: 70px;
	margin-right: 10px;
}
