<div class="dialog-header">
	<h2>Choose a Food</h2>
	<button (click)="chooseRandomFood()" mat-button style="padding-right: 0;">
		<mat-icon>shuffle</mat-icon>
	</button>
</div>
<mat-form-field style="width: 100%">
	<mat-label>Search Foods...</mat-label>
	<input (keyup)="search($event)" autocomplete="off" matInput type="text">
</mat-form-field>
<mat-dialog-content>
	<mat-card *ngFor="let food of filteredFoods" class="food-card">
		<img alt="Photo of {{food.name}}" class="food-image" src="{{food.image || defaultImage}}">
		<div>{{food.name}}</div>
		<button (click)="chooseFood(food)" mat-button style="margin-left: auto; padding-right: 0;">
			<mat-icon style="color: green">add_circle</mat-icon>
		</button>
	</mat-card>
	<div *ngIf="foods.length < 1">
		<h3 style="text-align: center">No foods found. 😔</h3>
	</div>
</mat-dialog-content>
