<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	  rel="stylesheet">

<div *ngIf="catalogueItem || isAdding">
	<!-- Image -->
	<div class="image-container">
		<img alt="Photo of {{catalogueItem.name}}"
			 class="catalogueItem-image"
			 mat-card-image
			 src="{{catalogueItem.imageUrl || defaultImage}}">
		<button (click)="openUploadImageDialog()" *ngIf="isEditing" class="btn-edit-image" color="primary" mat-fab>
			<mat-icon class="material-icons-outlined" color="secondary">edit</mat-icon>
		</button>
	</div>

	<!-- Name -->
	<div fxLayout="row" fxLayoutAlign="flex-start center">
		<h1 *ngIf="!isEditing" style="margin: 0;">{{catalogueItem.name}}</h1>
		<mat-form-field *ngIf="isEditing" appearance="fill">
			<mat-label>Name</mat-label>
			<input [(ngModel)]="catalogueItem.name" matInput>
		</mat-form-field>
	</div>

	<!-- Store Purchased -->
	<h3 *ngIf="!isEditing">{{catalogueItem.storePurchased}}</h3>
	<mat-form-field *ngIf="isEditing" appearance="fill">
		<mat-label>Store</mat-label>
		<input [(ngModel)]="catalogueItem.storePurchased" matInput>
	</mat-form-field>

	<!-- Description -->
	<p *ngIf="!isEditing">{{catalogueItem.description}}</p>
	<mat-form-field *ngIf="isEditing" appearance="fill">
		<mat-label>Description</mat-label>
		<textarea [(ngModel)]="catalogueItem.description"
				  cdkAutosizeMaxRows="6"
				  cdkAutosizeMinRows="3"
				  cdkTextareaAutosize
				  matInput></textarea>
	</mat-form-field>

	<!-- Thumbs buttons -->
	<div *ngIf="!isEditing" fxLayout="row" fxLayoutAlign="space-evenly">
		<button mat-button>
			<mat-icon (click)="toggleLikeCatalogueItem()"
					  [ngClass]="{'liked-colour': catalogueItem.status === 'liked'}">
				thumb_up
			</mat-icon>
		</button>
		<button mat-button>
			<mat-icon (click)="toggleDislikeCatalogueItem()"
					  [ngClass]="{'disliked-colour': catalogueItem.status === 'disliked'}">
				thumb_down
			</mat-icon>
		</button>
	</div>

	<!-- Delete btn -->
	<button (click)="deleteCatalogueItem()"
			*ngIf="isEditing && !isAdding"
			class="delete-btn"
			color="warn"
			mat-flat-button>
		Delete
	</button>

	<!-- Editing fab -->
	<button (click)="toggleEditing()" class="btn-toggle-edit" mat-fab>
		<mat-icon *ngIf="!isEditing">edit</mat-icon>
		<mat-icon *ngIf="isEditing">done</mat-icon>
	</button>
</div>

<div *ngIf="!catalogueItem && !isAdding" style="text-align: center;">
	Error loading item 😔
</div>
