.food-card {
	margin-bottom: 10px;
}

.food-image {
	max-height: 100px;
	object-fit: cover;
}

.food-card-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
