<h2>{{foodData ? 'Edit' : 'Add'}} Food</h2>
<form (ngSubmit)="onSaveClick()" [formGroup]="foodForm" autocomplete="off">
	<div class="dialog-content">
		<mat-form-field appearance="fill" class="food-details-input">
			<mat-label>Name</mat-label>
			<input formControlName="name" id="name" matInput required>
		</mat-form-field>
		<mat-form-field appearance="fill" class="food-details-input">
			<mat-label>Description</mat-label>
			<textarea cdkTextareaAutosize formControlName="description" id="description" matInput></textarea>
		</mat-form-field>
		<input #fileUpload
			   (change)="onFileSelected($event)"
			   accept="image/*"
			   class="file-input"
			   type="file">
		<div class="file-upload">
			{{fileName || "Upload an image."}}
			<button (click)="fileUpload.click()" class="mat-elevation-z0" color="primary" mat-mini-fab type="button">
				<mat-icon>add_photo_alternate</mat-icon>
			</button>
		</div>
		<mat-progress-bar [hidden]="!fileUploadProgress"
						  mode="determinate"
						  value="{{fileUploadProgress}}"></mat-progress-bar>
	</div>

	<div mat-dialog-actions>
		<button (click)="onCancelClick()" mat-button type="button">Cancel</button>
		<button [disabled]="!foodForm.valid || uploadingFile"
				color="primary"
				mat-button
				mat-raised-button
				type="submit">Save
		</button>
	</div>
</form>
