.dialog-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.food-details-input {
	width: 250px;
}

.file-input {
	display: none;
}

.file-upload {
	margin-bottom: 10px;
}

.mat-dialog-actions {
	justify-content: flex-end;
}

[hidden] {
	display: none !important;
}
