<div class="main-container">
	<mat-toolbar class="flex justify-between" color="primary">
		<div class="flex justify-start items-center">
			<button (click)="navigateBack()" *ngIf="showBackBtn" mat-icon-button>
				<mat-icon class="nav-btn-icon">arrow_back</mat-icon>
			</button>
			<button (click)="sidenav.toggle()" *ngIf="!showBackBtn && (loggedInUser$ | async)" mat-icon-button>
				<mat-icon class="nav-btn-icon">menu</mat-icon>
			</button>
			<mat-icon>restaurant_menu</mat-icon>
			<span>Food Planner</span>
		</div>
		<div class="flex justify-center items-center">
			<button *ngIf="loggedInUser$ | async" mat-icon-button routerLink="/profile">
				<mat-icon class="nav-btn-icon">account_circle</mat-icon>
			</button>
		</div>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav #sidenav
					 (click)="mobileDisplay && sidenav.toggle()"
					 [mode]="mobileDisplay ? 'over':'side'"
					 [opened]="!mobileDisplay && !!(loggedInUser$ | async)">
			<mat-nav-list>
				<a [routerLinkActiveOptions]="{ exact: true }"
				   [routerLinkActive]="['mat-sidenav-item-is-active']"
				   mat-list-item
				   routerLink="/">
					<mat-icon>home</mat-icon>
					Home</a>
				<a [routerLinkActiveOptions]="{ exact: true }"
				   [routerLinkActive]="['mat-sidenav-item-is-active']"
				   mat-list-item
				   routerLink="/weekPlan">
					<mat-icon>menu_book</mat-icon>
					Planner</a>
				<a [routerLinkActiveOptions]="{ exact: true }"
				   [routerLinkActive]="['mat-sidenav-item-is-active']"
				   mat-list-item
				   routerLink="/calendar">
					<mat-icon>calendar_month</mat-icon>
					Calendar</a>
				<a [routerLinkActive]="['mat-sidenav-item-is-active']" mat-list-item routerLink="/foods">
					<mat-icon>restaurant</mat-icon>
					Foods</a>
				<a [routerLinkActive]="['mat-sidenav-item-is-active']" mat-list-item routerLink="/foodCatalogue">
					<mat-icon>auto_stories</mat-icon>
					Food Catalogue</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content #scrollingContainer>
			<div class="container">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

