.main-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container {
	box-sizing: border-box; /* Prevent padding from overflowing */
	padding: 16px;
	max-width: 1000px;
	margin: auto;
}

mat-icon {
	padding-right: 10px;
}

mat-sidenav {
	width: 200px;
}

.sidenav-container {
	flex: 1;
}

.mat-sidenav-item-is-active {
	background-color: cornflowerblue;
}

mat-sidenav mat-nav-list a mat-icon {
	vertical-align: middle;
}
