<h1>Admin Page</h1>

<!-- Duplicate FoodPlans -->
<mat-card *ngIf="duplicateFoodPlans$ | async as duplicateFoodPlans" class="category">
	<h2>Duplicate FoodPlans</h2>
	<h4>{{duplicateFoodPlans.length}} total duplicate FoodPlans</h4>
	<h4>{{(emptyDuplicateFoodPlans$|async)?.length}} unused duplicate FoodPlans</h4>

	<mat-divider *ngIf="duplicateFoodPlans.length > 0"></mat-divider>

	<div *ngFor="let foodPlan of duplicateFoodPlans" style="padding-top: 10px;">
		<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 12px;">
			<div>{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy h:mm:ss a zzzz'}}</div>
			<mat-icon (click)="deleteFoodPlan(foodPlan.id)">delete</mat-icon>
		</div>
		<div *ngFor="let food of foodPlan.foods" style="padding-left: 10px;">
			<p>{{food}}</p>
		</div>
	</div>
</mat-card>

<!-- Unused Images -->
<mat-card *ngIf="unusedFoodImages.concat(unusedCatalogueItemImages) as unusedImages">
	<h2>Unused Images</h2>
	<h4>{{unusedFoodImages.length}} unused food images</h4>
	<h4>{{unusedCatalogueItemImages.length}} unused catalogue images</h4>

	<mat-divider *ngIf="unusedImages.length > 0"></mat-divider>

	<div *ngFor="let image of unusedImages" style="padding-top: 10px;">
		<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 12px;">
			<img alt="Photo of {{image.imageUrl}}" src="{{image.imageUrl}}" style="width: 56px; height: 56px;">
			<span style="max-width: 50%; word-break: break-all;">{{image.imagePath}}</span>
			<mat-icon (click)="deleteImage(image.imagePath)">delete</mat-icon>
		</div>
	</div>
</mat-card>

<!-- Empty FoodPlans -->
<mat-card *ngIf="emptyFoodPlans$ | async as foodPlans" class="category">
	<h2>Empty FoodPlans</h2>
	<h4>{{foodPlans.length}} total unused FoodPlans</h4>

	<mat-divider *ngIf="foodPlans.length > 0"></mat-divider>

	<div *ngFor="let foodPlan of foodPlans" style="padding-top: 10px;">
		<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 12px;">
			<div>{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy h:mm:ss a zzzz'}}{{foodPlan.id}}</div>
			<mat-icon (click)="deleteFoodPlan(foodPlan.id)">delete</mat-icon>
		</div>
	</div>
</mat-card>

<!-- FoodPlans using Foods and not Dishes -->
<mat-card *ngIf="foodPlansNotUsingDishes$ | async as foodPlans" class="category">
	<h2>FoodPlans not using Dishes</h2>
	<h4>{{foodPlans.length}} total FoodPlans not using dishes</h4>

	<mat-divider *ngIf="foodPlans.length > 0"></mat-divider>

	<div *ngFor="let foodPlan of foodPlans" style="padding-top: 10px;">
		<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 12px;">
			<div>{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy h:mm:ss a zzzz'}}</div>
		</div>
		<div *ngFor="let foodId of foodPlan.foods"
			 fxLayout="row"
			 fxLayoutAlign="space-between center"
			 style="padding-left: 10px;">
			{{foodId}}
			<mat-icon (click)="addDishToFoodPlan(foodId, foodPlan)">add</mat-icon>
		</div>
	</div>
</mat-card>

