<h1>Admin Page</h1>

<!-- Duplicate FoodPlans -->
<mat-card *ngIf="duplicateFoodPlans$ | async as duplicateFoodPlans" class="category">
	<h2>Duplicate FoodPlans</h2>
	<h4>{{duplicateFoodPlans.length}} total duplicate FoodPlans</h4>
	<h4>{{(emptyDuplicateFoodPlans$|async)?.length}} unused duplicate FoodPlans</h4>

	<mat-divider *ngIf="duplicateFoodPlans.length > 0"></mat-divider>

	<div *ngFor="let foodPlan of duplicateFoodPlans" style="padding-top: 10px;">
		<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 12px;">
			<div>{{foodPlan.date.toMillis() | date: 'EEEE dd/MM/yyyy'}}</div>
			<mat-icon (click)="deleteFoodPlan(foodPlan.id)">delete</mat-icon>
		</div>
		<div *ngFor="let food of foodPlan.foods" style="padding-left: 10px;">
			<p>{{food}}</p>
		</div>
	</div>
</mat-card>
