<div class="page-header">
	<h1>Week Plan</h1>
	<div *ngIf="selectedWeek">
		<button (click)="advanceWeek(-7)" *ngIf="selectedWeek.startDate > earliestStartingWeek" mat-raised-button>
			<mat-icon>navigate_before</mat-icon>
		</button>
		&nbsp;
		<button (click)="advanceWeek(7)" mat-raised-button>
			<mat-icon>navigate_next</mat-icon>
		</button>
	</div>

</div>
<app-food-plan-detail *ngFor="let foodPlan of foodPlans$ | async; trackBy: trackById"
					  [foodPlan]="foodPlan"></app-food-plan-detail>
