.page-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.center {
	text-align: center;
}

.btn-open-shopping-list {
	position: fixed;
	right: 20px;
	left: auto;
	bottom: 20px;
}
