<div class="page-header">
	<h1>Week Plan</h1>
	<div *ngIf="selectedWeek">
		<button (click)="advanceWeek(-7)" *ngIf="selectedWeek.startDate > earliestStartingWeek" mat-raised-button>
			<mat-icon>navigate_before</mat-icon>
		</button>
		&nbsp;
		<button (click)="advanceWeek(7)" mat-raised-button>
			<mat-icon>navigate_next</mat-icon>
		</button>
	</div>

</div>
<div *ngIf="foodPlans$ | async as foodPlans">
	<div *ngIf="foodPlans.length > 0; else noFoodPlans">
		<div *ngIf="{user: user$ | async} as userWrapper">
			<app-food-plan-preview *ngFor="let foodPlan of foodPlans; trackBy: trackById"
								   [foodPlan]="foodPlan"
								   [canEdit]="(userWrapper.user) ? userWrapper.user.canEdit : false"
								   [selectedEndDate]="selectedWeek.endDate.toDate()"></app-food-plan-preview>
		</div>
	</div>
</div>

<ng-template #noFoodPlans>
	<h1 *ngIf="foodPlansLoadingError$ | async as error" class="center">{{error}}</h1>
	<h1 *ngIf="!(foodPlansLoadingError$ | async)" class="center">No plans have been created yet 😥</h1>
</ng-template>
