<h1>Profile</h1>
<div *ngIf="user$ | async as user">
	<table class="basic-info-table" style="width: 100%;">
		<tr>
			<td>Name</td>
			<td>{{user.displayName}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{user.email}}</td>
		</tr>
		<tr>
			<td>Selected Group</td>
			<td>{{user.selectedGroup}}</td>
		</tr>
	</table>
	<mat-divider class="divider"></mat-divider>

	<div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px;">
		<h2 style="margin: 0;">Groups</h2>
		<button (click)="createGroup(user.uid)" color="primary" mat-raised-button>Create Group</button>
	</div>
	<div *ngIf="groups$ | async as groups">
		<div *ngFor="let group of groups; trackBy: identify" class="group-details">
			<mat-accordion class="align-headers">
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							{{group.name}}
							<button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu" mat-icon-button>
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button (click)="addMember(group)" *ngIf="group.owner.id == user.uid" mat-menu-item>
									<mat-icon>person_add</mat-icon>
									<span>Add Member</span>
								</button>
								<button (click)="editName(group)" *ngIf="group.owner.id == user.uid" mat-menu-item>
									<mat-icon>edit</mat-icon>
									<span>Edit Name</span>
								</button>
								<button (click)="removeMember(group, user.uid)"
										*ngIf="mapUsersToIds(group.editors).includes(user.uid) || mapUsersToIds(group.viewers).includes(user.uid)"
										mat-menu-item>
									<mat-icon>cancel</mat-icon>
									<span>Leave Group</span>
								</button>
								<button (click)="deleteGroup(group, user.uid)" *ngIf="group.owner.id == user.uid"
										mat-menu-item>
									<mat-icon>clear</mat-icon>
									<span>Delete Group</span>
								</button>
							</mat-menu>
						</mat-panel-title>
						<mat-panel-description>
							Members: {{1 + group.editors.length + group.viewers.length}}
						</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-list>
						<mat-list-item>
							<ng-template *ngTemplateOutlet="userTemplate; context: { type: UserType.Owner, user: group.owner, group: group, canEdit: group.owner.id == user.uid }"></ng-template>
							<mat-divider *ngIf="group.editors.length > 0 || group.viewers.length > 0"></mat-divider>
						</mat-list-item>
						<mat-list-item *ngFor="let editor of group.editors; let isLast = last;">
							<ng-template *ngTemplateOutlet="userTemplate; context: { type: UserType.Editor, user: editor, group: group, canEdit: group.owner.id == user.uid }"></ng-template>
							<mat-divider *ngIf="!isLast || group.viewers.length > 0"></mat-divider>
						</mat-list-item>
						<mat-list-item *ngFor="let viewer of group.viewers; let isLast = last">
							<ng-template *ngTemplateOutlet="userTemplate; context: { type: UserType.Viewer, user: viewer, group: group, canEdit: group.owner.id == user.uid }"></ng-template>
							<mat-divider *ngIf="!isLast"></mat-divider>
						</mat-list-item>
					</mat-list>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>

	<button (click)="signOut()" color="warn" mat-raised-button>
		<mat-icon>logout</mat-icon>
		Log Out
	</button>
</div>

<ng-template #userTemplate let-canEdit="canEdit" let-group="group" let-user="user" let-userType="type">
	<div (click)="(userType != UserType.Owner && canEdit) && editMember(user.id, userType, group)"
		 [class.userRow]="userType!=UserType.Owner && canEdit"
		 fxFlex="grow"
		 fxLayout="row"
		 fxLayoutAlign="space-between center">
		{{user.name}}
		<mat-basic-chip *ngIf="userType == UserType.Owner" class="permissions-chip owner-colors" disableRipple>
			Owner
		</mat-basic-chip>
		<mat-basic-chip *ngIf="userType == UserType.Editor" class="permissions-chip editor-colors">
			Can Edit
		</mat-basic-chip>
		<mat-basic-chip *ngIf="userType == UserType.Viewer" class="permissions-chip viewer-colors">
			Can View
		</mat-basic-chip>
	</div>
</ng-template>
