<mat-card *ngIf="food && !foodPlan" [routerLink]="['/foods', food.id]" appearance="raised" class="food-card">
	<div class="food-card-header">
		<mat-card-title class="food-card-title-small">{{food.name}}</mat-card-title>
		<button (click)="$event.stopPropagation()" *ngIf="canEdit" [matMenuTriggerFor]="menu" mat-icon-button>
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu>
			<button (click)="editFood()" mat-menu-item>
				<mat-icon>edit</mat-icon>
				<span>Edit</span>
			</button>
			<button (click)="deleteFood()" mat-menu-item>
				<mat-icon>delete</mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</div>
	<mat-chip-list style="padding-bottom: 5px;">
		<mat-chip *ngFor="let label of food.labels | slice:0:2" style="font-size: 11px;">{{label}}</mat-chip>
	</mat-chip-list>
	<img alt="Photo of {{food.name}}"
		 class="food-image"
		 loading="lazy"
		 mat-card-image
		 src="{{food.image || defaultImage}}">
</mat-card>

<!-- Simple Food Details -->
<mat-card *ngIf="food && foodPlan"
		  @fade
		  [routerLink]="['/foods', food.id]"
		  appearance="raised"
		  class="simple-food-card"
>
	<div class="flex flex-row items-center">
		<img alt="Photo of {{food.name}}" class="simple-food-image" loading="lazy"
			 src="{{food.image || defaultImage}}">
		<div class="food-card-title-big">{{food.name}}</div>
	</div>
	<button (click)="$event.stopPropagation()" *ngIf="canEdit" [matMenuTriggerFor]="menu" mat-icon-button>
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu>
		<button (click)="removeFood()" mat-menu-item>
			<mat-icon>delete</mat-icon>
			<span>Remove</span>
		</button>
	</mat-menu>
</mat-card>
