<mat-card appearance="raised" [ngClass]="{'liked-colour' : catalogueItem.status == 'liked',
 'disliked-colour' : catalogueItem.status == 'disliked',
 'neutral-colour': catalogueItem.status  == 'neutral'}"
		  class="catalogue-item-card"
		  [routerLink]="['/catalogueItem', catalogueItem.id]">
	<img alt="Photo of {{catalogueItem.name}}"
		 loading="lazy"
		 mat-card-image
		 class="h-auto max-w-full"
		 src="{{catalogueItem.imageUrl || defaultImage}}">
	<div>
		<mat-card-content *ngIf="lowestPrice">
			<mat-card-title>{{catalogueItem.name}}</mat-card-title>
			<strong>Price: </strong>{{lowestPrice.price | currency: 'GBP'}} ({{lowestPrice.store}})
		</mat-card-content>
	</div>
	<mat-card-footer class="catalogue-item-thumbs !flex flex-row justify-around">
		<button [disabled]="!user.canEdit"
				(click)="toggleLikeCatalogueItem(); $event.stopPropagation();"
				mat-icon-button>
			<mat-icon>thumb_up</mat-icon>
		</button>
		<button [disabled]="!user.canEdit"
				(click)="toggleDislikeCatalogueItem(); $event.stopPropagation();"
				mat-icon-button>
			<mat-icon>thumb_down</mat-icon>
		</button>
	</mat-card-footer>
</mat-card>
