<mat-card [ngClass]="{'liked-colour' : catalogueItem.status == 'liked',
 'disliked-colour' : catalogueItem.status == 'disliked',
 'neutral-colour': catalogueItem.status  == 'neutral'}" [routerLink]="['/catalogueItem', catalogueItem.id]"
		  appearance="raised"
		  class="catalogue-item-card">
	<img alt="Photo of {{catalogueItem.name}}"
		 class="h-auto max-w-full"
		 loading="lazy"
		 mat-card-image
		 src="{{catalogueItem.imageUrl || defaultImage}}">
	<div>
		<mat-card-content *ngIf="lowestPrice">
			<mat-card-title>{{catalogueItem.name}}</mat-card-title>
			<strong>Price: </strong>{{lowestPrice.price | currency: 'GBP'}} ({{lowestPrice.store}})
		</mat-card-content>
	</div>
	<mat-card-footer class="catalogue-item-thumbs !flex flex-row justify-around">
		<button (click)="toggleLikeCatalogueItem(); $event.stopPropagation();"
				[disabled]="!user.canEdit"
				mat-icon-button>
			<mat-icon>thumb_up</mat-icon>
		</button>
		<button (click)="toggleDislikeCatalogueItem(); $event.stopPropagation();"
				[disabled]="!user.canEdit"
				mat-icon-button>
			<mat-icon>thumb_down</mat-icon>
		</button>
	</mat-card-footer>
</mat-card>
