.liked-colour {
	background-color: #9cff9c;
}

.disliked-colour {
	background-color: #ff9c9c;
}

.neutral-colour {
	background-color: white;
}


.catalogue-item-thumbs {
	padding-bottom: 15px;
}

.catalogue-item-card {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
