<h1 mat-dialog-title>Edit Price History</h1>

<div fxLayout="column" fxLayoutAlign="flex-start stretch">
	<mat-form-field>
		<mat-label>Date</mat-label>
		<input [(ngModel)]="date" [matDatepicker]="picker" matInput>
		<mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Price</mat-label>
		<input [(ngModel)]="price" autocomplete="off" matInput type="number">
		<span matPrefix>£&nbsp;</span>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Store</mat-label>
		<input [(ngModel)]="store" matInput>
	</mat-form-field>
</div>

<div mat-dialog-actions>
	<button (click)="onCancelClick()" mat-button type="button">Cancel</button>
	<button (click)="updatePriceHistory()" color="primary" mat-button mat-raised-button>Save
	</button>
</div>
